<section class="home-main-content">
  Bem-vindo
</section>

<div class="container">

  <section class="movies__container">

    <h2 class="movies__title" title="Ir para Filmes">
      <a [routerLink]="'/movies'" class="colored-background-before">
        <mat-icon>movie</mat-icon>
        Filmes
      </a>
    </h2>

    <mat-tab-group (selectedTabChange)="tabMovieChange($event)" [selectedIndex]="selectedMovieTab" mat-align-tabs="end">
      <mat-tab *ngFor="let tab of movieTabList; trackBy: trackTab" [label]="tab">
        <swiper-container appSwiper [config]="config" pagination="true" scrollbar="false">
          <swiper-slide *ngFor="let movie of moviesList | slice:0:15; trackBy: trackMovie">
            <app-poster-card [model]="movie" [isMovie]="true"></app-poster-card>
          </swiper-slide>
        </swiper-container>
      </mat-tab>
    </mat-tab-group>

  </section>

  <!-- Programas de TV -->
  <section class="shows__container">

    <h2 class="shows__title" title="Ir para Programas de TV">
      <a [routerLink]="'/tv-shows'" class="colored-background-before">
        <mat-icon>tv_gen</mat-icon>
        Programas de TV
      </a>
    </h2>

    <mat-tab-group (selectedTabChange)="tabTVChange($event)" [selectedIndex]="selectedTVTab" mat-align-tabs="end">
      <mat-tab *ngFor="let tab of tvShowsTabList; trackBy: trackTab" [label]="tab">
        <swiper-container appSwiper [config]="config" pagination="true" scrollbar="false">
          <swiper-slide *ngFor="let tvShow of tvShowsList | slice:0:15; trackBy: trackTVShow">
            <app-poster-card [model]="tvShow"></app-poster-card>
          </swiper-slide>
        </swiper-container>
      </mat-tab>
    </mat-tab-group>

  </section>

</div>
